html{
  font-size: 62.5%; 
  /* 1rem = 10px */
}

body {
  margin: 0 auto;
  background-color: blanchedalmond;
  font-family: sans-serif;
}

.container {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 1.5rem; */
}

img{
  border: solid black 2px;
}

h1 {
  text-align: center;
}

.list {
  list-style: none;
}

ul {
  padding: 0;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  border: solid black 2px;

}

li {
  margin-bottom: 1rem;
  padding-top: 1rem;
}

a{
  color: black;
  text-decoration: none;
}
